@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}



.input-group input:focus {
    box-shadow: none;
    border: 1px solid black;
}

.nav-item {
    padding-right: 0.5rem !important;
}

.btn-hover:hover {
    color: white !important;
}

.active {
    color: #1E1692 !important;
}

.abc {
    background-color: rgba(0, 0, 0, .65);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cab {
    max-height: 90vh;
    max-width: 600px;
    position: relative;
    top: 120px;
    right: auto;
    bottom: auto;
    left: 600px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    overflow: auto;
}

.divider>span {
    display: table;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    margin: 15px auto 1em;
    color: rgb(127, 127, 127);
    position: relative;
    text-align: center;
    width: 100%;
}

.divider>span::before {
    border-top: 1px solid rgb(235, 234, 234);
    content: "";
    display: table-cell;
    position: relative;
    top: 0.8em;
    width: 45%;
    /* height: 1px; */
}

.divider>span::after {
    border-top: 1px solid rgb(235, 234, 234);
    content: "";
    display: table-cell;
    position: relative;
    top: 0.8em;
    width: 45%;
}

.pad-btn {
    padding: 12px 30px 12px 16px;
}

.pad-btn:hover {
    background-color: #e2e2e2;
}

/* FOOTER  */
.column ul {
    padding: 0px;
}

.column ul li {
    list-style: none;
    padding-bottom: 16px;
}

.column ul li a {
    text-decoration: none;
    font-size: 100%;
    color: #74767e;
    cursor: pointer;
}

.column ul li a:hover {
    text-decoration: underline;
}

.title {
    font-size: 16px;
    color: #404145;
    margin-bottom: 20px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo,
.btm-right,
.social,
.btm-right ul {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
}

.btm-right {}

.logo > img{
    opacity: .5;
}

.logo>p {
    margin: 8px 0 0 20px;
}
.social{
    gap: 13px;
}
.social i{
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
}
.social i:hover, .btm-right ul li a:hover{
    background-color: #e2e2e2;
}
.btm-right > ul li {
    list-style: none;
}
.btm-right > ul li a{
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    color: #404145;
    font-weight: 500;
    border-radius: 54px;
}
.bi-globe{
    padding-right: 3px;
}
.access{
    font-size: 22px;
    margin: 0;
    margin-top: 2px;
}
.access i{
    margin-left: 15px;
    cursor: pointer;
}


@media screen and (min-width : 993px) {
    .dropdown:hover .dropdown-menu {
        display: block !important;
    }

    .dropdown:focus .dropdown-menu {
        display: block !important;
    }

    .dropdown .dropdown-menu.show {
        display: none !important;
    }

    .f-group {
        display: flex;
        justify-content: space-between;

    }
}

@media screen and (min-width : 1461px) {
    .c-nav {
        margin-left: 60px !important;
        margin-right: 40px !important;
    }
}

@media screen and (min-width : 1231px) and (max-width: 1342px) {
    .search {
        width: 30% !important;
    }
}


/* <div class="col-auto me-5"><li class="nav-item dropdown"><a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown </a><ul class="dropdown-menu"><li><a class="dropdown-item" href="#">Action</a></li><li><a class="dropdown-item" href="#">Another action</a></li><li><hr class="dropdown-divider"></li><li><a class="dropdown-item" href="#">Something else here</a></li></ul></li></div><div class="col-auto"><li class="nav-item dropdown"><a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown </a><ul class="dropdown-menu"><li><a class="dropdown-item" href="#">Action</a></li><li><a class="dropdown-item" href="#">Another action</a></li><li><hr class="dropdown-divider"></li><li><a class="dropdown-item" href="#">Something else here</a></li></ul></li></div> */