@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}



.input-group input:focus {
    box-shadow: none;
    border: 1px solid black;
}

.nav-item {
    padding-right: 0.5rem !important;
}

.btn-hover:hover {
    color: white !important;
}

.active {
    color: #1E1692 !important;
}



@media screen and (min-width : 993px) {
    .dropdown:hover .dropdown-menu {
        display: block !important;
    }

    .dropdown:focus .dropdown-menu {
        display: block !important;
    }

    .dropdown .dropdown-menu.show {
        display: none !important;
    }

}

@media screen and (min-width : 1200) {
    .container-fluid {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media screen and (min-width : 1000) {
    .container-fluid {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (-width : 700) {
    .container-fluid {
        margin-left: 40px;
        margin-right: 40px;
    }
}

/* <div class="col-auto me-5"><li class="nav-item dropdown"><a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown </a><ul class="dropdown-menu"><li><a class="dropdown-item" href="#">Action</a></li><li><a class="dropdown-item" href="#">Another action</a></li><li><hr class="dropdown-divider"></li><li><a class="dropdown-item" href="#">Something else here</a></li></ul></li></div><div class="col-auto"><li class="nav-item dropdown"><a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown </a><ul class="dropdown-menu"><li><a class="dropdown-item" href="#">Action</a></li><li><a class="dropdown-item" href="#">Another action</a></li><li><hr class="dropdown-divider"></li><li><a class="dropdown-item" href="#">Something else here</a></li></ul></li></div> */